@import "tailwindcss";


:root {
  --font-sans: var(--font-poppins);
  --font-charm: var(--font-charm); 
}

body {
  background: #111111;
  font-family: var(--font-sans), sans-serif;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 25s linear infinite;
}
